*{
    margin: 0;
    padding: 0;
    overflow-y: hidden;
    box-sizing: border-box;
}
/* body{
    background-image: url(/public/image/back.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
} */
h3{
    color: white;
    font-family: 'Tangerine', serif;
    font-size: 40px;
}
.bts{
    background-color: white;
    color: blue;
    border-radius: 10px;
    width: 7%;
    padding: 1%;
    font-size: 20px;
}

.done{
    /* background: white; */
    padding: 20px;
    background-color: aquamarine;
    width: 30%;
    transform: translate(-50% -50%);
    border-radius: 10px;
    text-align: center;
    cursor: pointer; 
    margin-top: 0px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 
    0 10px 10px rgba(58, 4, 255, 0.22);
}

.done input{
    outline: 0;
    width: 100%;
   padding:15px 10px;
   display: flex;
   align-items: center;
   justify-content: center;
   margin: 9px 1px;
   border-radius: 10px;
   background: transparent;
   border: 1px solid rgb(194, 81, 81);
   font-weight:400; 
   color: rgb(36, 8, 8);
   font-size: 22px;
   /* cursor: pointer; */
 } 

 

.done button {
    background: brown;
     color: white;
     border: 0;
     margin-bottom: 15px;
     border-radius: 20%;
     padding: 4%;
}
.name{
    color: red;
}

.done button:hover{
    background: rgb(209, 209, 61) !important;
    transition: all 0.7s ease-in-out;
    color: blue;
}

.done p{
    font-size: 16px;
    color: white;
    margin:0px 0px 17px;
    text-decoration: none;
    font-weight:bold;
}

.done p a{
    text-decoration: none;
    color: blue;
    margin-left: 15px;
    font-weight: bold;
}

@media only screen and (max-width: 800px) {
    .done {
        width: auto;
        padding: auto;
        margin: auto;
    }
    .done input {
        width: auto;
        padding: auto;
    }
}