:root{
    --primary: #00A97F;
    --light:rgba(133,198,218,255);
    --dark:rgba(13,13,10,255);
    --darker:rgba(234,157,90,255);
    --lighter:#cbd6cf;
    --lighter1:#c3dacc86;
    --lighter2:#e4f0e9da;
    --darken: #cca27e;
    --color: orangered;
    --search: #FF6000;
    --primary1: #2b3d4c;
    --primary2: #354d61;
}

*{
    margin: 0;
    padding: 0;
    overflow-y: hidden;
    box-sizing: border-box;
}

h3{
    color: var(--search);
    font-family: 'Tangerine', serif;
    font-size: 40px;
}
/* .bts{
    background-color: white;
    color: blue;
    border-radius: 10px;
    width: 7%;
    padding: 1%;
    font-size: 20px;
} */

.done{
    padding: 20px;
    background-color: var(--lighter1);
    width: 30%;
    transform: translate(-50% -50%);
    border-radius: 10px;
    text-align: center;
    cursor: pointer; 
    margin-top: 0px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 
    0 10px 10px rgba(58, 4, 255, 0.22);
}

.done input{
    outline: 0;
    width: 100%;
   padding:15px 10px;
   display: flex;
   align-items: center;
   justify-content: center;
   margin: 9px 1px;
   border-radius: 10px;
   background: transparent;
   border: 1px solid var(--primary1);
   font-weight:400; 
   color: rgb(36, 8, 8);
   font-size: 22px;
 } 

 

.done button {
    background: var(--primary1);
     color: white;
     border: 0;
     margin-bottom: 15px;
     border-radius: 20%;
     padding: 4%;
}

.done button:hover{
    background: transparent !important;
    border: 1px  solid var(--primary);
    transition: all 0.7s ease-in-out;
    color: blue;
}

.done p{
    font-size: 16px;
    color: var(--primary1);
    margin:0px 0px 17px;
    text-decoration: none;
    font-weight:bold;
}

.done p a{
    text-decoration: none;
    color: blue;
    margin-left: 15px;
    font-weight: bold;
}

@media only screen and (max-width: 800px) {
    .done {
        width: auto;
        padding: auto;
        margin: auto;
    }
    .done input {
        width: auto;
        padding: auto;
    }
}