
   :root{
    --primary: #70e0c4;
    --light:rgba(133,198,218,255);
    --dark:rgba(13,13,10,255);
    --darker:rgba(234,157,90,255);
    --lighter:#cbd6cf;
    --lighter1:#c3dacc86;
    --lighter2:#e4f0e9da;
    --darken: #cca27e;
    --color: orangered;
    --search: #FF6000;
    --primary1: #2b3d4c;
    --primary2: #354d61;
}

*{
    margin: 0;
    padding: 0;
    overflow-y: hidden;
    box-sizing: border-box;
}

h3{
    color: var(--search);
    font-family: 'Tangerine', serif;
    font-size: 40px;
}
.App {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 83vh;
    background-color: #f0f0f0;
  }
  
  .done {
    background-color: var(--lighter1);
    transform: translate(-50% -50%);
    padding: 10px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 40%;
    text-align: center;
  }
  
  .done h3 {
    margin-bottom: 20px;
  }
  
  .done input {
    outline: 0;
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid rgb(12, 11, 11);
    border-radius: 8px;
  }
  
  .done button {
    width: 25%;
    padding: 10px;
    background-color: var(--primary1);
    color: #f9f6f6;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .done button:hover {
    background: transparent !important;
    border: 1px  solid var(--primary1);
    transition: all 0.7s ease-in-out;
    color: black;
  }
  
 p {
    color: #ff0000;
    padding-bottom: 15px
  }
  