*{
    margin: auto;
    padding: auto;
    box-sizing: border-box;
}

body {
    background-color: lightblue;
}

.done input {
    /* border: 2px solid red; */
    outline: 0;
    width: 100%;
   padding:10px 15px;
   display: flex;
   align-items: center;
   justify-content: center;
   margin: 9px 1px;
   border-radius: 10px;
   background: transparent;
   border: 1px solid rgb(194, 81, 81);
   font-weight:400; 
   color: rgb(36, 8, 8);
   font-size: 22px;
}
.bts{
    /* background-color: white; */
    color: white;
    border-radius: 10px;
    width: 10%;
    padding: 5px;
    font-size: 20px;
}

h3{
    font-family: 'Tangerine', serif;
    font-size: 40px;
    font-weight: bold;
}

.done{
    padding: 20px;
    width: 70%;
    /* top:10%; */
    transform: translate(-50% -50%);
    border-radius: 10px;
    text-align: center;
    cursor: pointer; 
    margin-top: 20px;
}
