/* *{
    margin: auto;
    padding: auto;
    box-sizing: border-box
} 

:root{
    --primary: #00A97F;
    --light:rgba(133,198,218,255);
    --dark:rgba(13,13,10,255);
    --darker:rgba(234,157,90,255);
    --lighter:#cbd6cf;
    --lighter1:#c3dacc86;
    --lighter2:#e4f0e9da;
    --darken: #cca27e;
    --color: orangered;
    --search: #FF6000;
    --primary1: #2b3d4c;
    --primary2: #354d61;
}

h1{
  font-weight: 600;
  font-size: 40px;
  color: var(--search);
}

h2{
  font-weight: 400;
  font-size: 24px;
}


a {
  font-weight: 500;
  text-decoration: inherit;
  transition: 0.5s ease;
  
}
a:hover {
  color: #535bf2;
}


p{
  text-decoration: none;
  font-size: 14px;
  font-weight: 400;
  margin: 0;
  color: var(--primary1);
}

button{
    padding: 12px 10px;
    font-size: 14px;
    background: transparent;
    border-radius: 10px;
    border: 1px solid var(--lighter);
  }
  
  input:focus{
    outline: none;
  }
  .gap-3{
    padding: 0 10px;
  }
  
  .links{
    padding: 0 10px;
  }
  .navbar-middle{
    background-color: var(--lighter);
    transition: 0.5s ease;
  }
  
  .navbar-middle .menu-links a{
      font-size: 14px;
      line-height: 18px;
      font-weight: 500;
      letter-spacing: 0.3;
      text-transform: uppercase;
      transition: 0.5s ease;
      margin-left: 20px;
  }

  
  .navbar-toggler-icon{
   font-size: 18px;
   display: inline;
   position: absolute;
   left: 10px;
   border: none;
   top: 12px;
  }
  
  .active{
    color: var(--primary);
    text-decoration: none;
  }
  
  
  .not-active{
    color: var(--primary1);
  }
  
  
  #color-link{
    color: var(--primary);
    font-size: 18px;
    font-weight: 500;
    transition: 0.5s ease;
  }
  
  #color-link:hover{
    color: var(--primary1);
  } 
  
  .color-nav{
    color: var(--darker);
  }

.nav-list{
    list-style: none;
    padding: 0;
}


.nav-links {
     font-weight: bold;
    display: inline;
    text-align: center; 
    padding: 8px;
}
.search-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
.form-control{
    border-radius: 10%;
    width: 20%;
    padding: 10px;
    margin-right: 8px;

}
.input{
    border-radius: 6px;
    padding: 10px;
    width: 8% ;
}

.nav-links:hover{
    background-color: wheat;
}
@media screen and (max-width: 400px) {
    .header {
      text-align: center;
      float: none;
    }

} */
:root{
  --primary: #00A97F;
  --light:rgba(133,198,218,255);
  --dark:rgba(13,13,10,255);
  --darker:rgba(234,157,90,255);
  --lighter:#cbd6cf;
  --lighter1:#c3dacc86;
  --lighter2:#e4f0e9da;
  --darken: #cca27e;
  --color: orangered;
  --search: #FF6000;
  --primary1: #2b3d4c;
  --primary2: #354d61;
}
.navbar{
  background-color: var(--primary2);
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0 10px;
  overflow: hidden;

}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  /* align-items: flex-end; */
  justify-content: right;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  transition: 0.8s ease;
}

li a:hover {
  color: blue;
}

/* .active {
  /* background-color: #04AA6D; */
  /* float: inline-end; */
/* } */