footer .pay img{
    padding: 10px 8px;
    margin-right: 5px;
    border-radius: 10px;
    border: 1px solid var(--primary);
    transition: 0.5s ease;
  }
  
  footer .pay img:hover {
    transform: translateY(-10px);
  }
  
  footer .socials{
    margin: 0 10px;
  }
  
  #footer-link{
    font-size: 18px;
    margin: 0 10px;
    color: var(--darken);
    transition: 0.5s ease;
  }
  #footer-link:hover{
    color: var(--search);
  }
  footer p{
    font-size: 16px;
    font-weight: 400;
  }
  
  #footer-links{
    font-size: 16px;
    color: var(--primary1);
    transition: 0.5s ease;
  }
  
  #footer-links:hover{
    color: var(--search);
  }
  
  footer .footer-title{
    border-bottom: 2px solid var(--darken);
    width: 30%;
  }
  
  footer .footer-tel{
    color: var(--darken);
    transition: 0.5s ease;
  }
  
  footer .footer-tel:hover{
    color: var(--primary1);
  }